
.pagination {
  display: flex;
  justify-content: center;
  width: 100%;
}

.paginationLink {
  align-items: center;
  border: 1px solid #ccc;
  color: inherit;
  display: flex;
  height: 50px;
  justify-content: center;
  min-width: 50px;
  text-decoration: none;
  width: 50px;
}

.paginationItem:not(:first-child) .paginationLink {
  border-left: 0;
}

.paginationItem.active .paginationLink {
  background: #333;
  color: #fff;
}
